<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <h1><%= pokemonName.name %></h1>
    <div class="top-container">
      <div class="name"><%= pokemonName.name %></div>

      <form action="/index/<%= id %>/edit">
        <input type="submit" value="edit" />
      
      <form action="/index/<%= id %>?_method=DELETE" method="POST">
        <input type="submit" value="delete" />
      </form>
    </div>
  </body>
</html>
